body{
    background: #222;
    color: #fff;
    font-family: Tahoma;
    font-size: 12px;

}

#box{
    background: #333;
    padding: 10px;
    width: 50%;
    margin: 50px auto;
}


input{
    background: #444;
    color: #fff;
    border: 0px;
    padding: 10px;
    margin: 5px 0px;
}

a{

    text-decoration: none;
    color: #fff;
}

#url{
    background: #444;
    padding: 10px;
    margin: 5px;
}